UI/.DS_Store
other stuff/imdb-extractor.py
other stuff/imdbscraper.py
other stuff/trending-getter.py
Back End/__pycache__/main_recommender.cpython-313.pyc
Back End/__pycache__/trending_get.cpython-313.pyc
other stuff/ChatGPT_1.1.0_macos_x86_64.dmg
Back End/__pycache__/combined_functions.cpython-313.pyc
.DS_Store
.DS_Store
Back End/__pycache__/combined_functions.cpython-314.pyc
Back End/__pycache__/main_recommender.cpython-314.pyc
Back End/__pycache__/trending_get.cpython-314.pyc
.DS_Store
