/* ==== Watch list ==== */
.category {
    margin-bottom: 100px;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

/* ==== Textbox ==== */
.textbox {
    background-color: rgba(255, 0, 255, 0.09);
    backdrop-filter: blur(10px);
    color: #ffffff;
    font-family: sans-serif;
    font-size: small;
    font-size: 1rem;
    font-weight: lighter;
    padding: 8px 10px;
    margin-right: 15px;
    border: none;
    border-bottom: 2px solid rgba(255, 0, 255, 0.7);
    border-radius: 5px 5px 0 0;
    width: 30%;
    max-width: 350px;
    align-self: right;
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
    animation-delay: 1.5s;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.textbox:focus {
    outline: none;
    border-bottom-color: rgb(0, 0, 255);
    background-color: rgba(255, 0, 255, 0.05);
}

.gutter {
    width: 100%;
    height: 50px;
}